<h1>Hello, <%= @transporter.name %></h1>
<p>
  This email is to inform you that you have successfully signed up. <br>
  An admin will review your signup application and we will contact you when you can login.
</p>
<p>Thank you for joining. Have a nice day!</p>

