<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <style>
    .centered {
      text-align: center;
    }

    .signature {
      margin-top: 50px;
      color: #333;
    }

    .container {
      border: 2px black solid;
      border-radius: 5px;
      padding: 20px;
    }
  </style>
</head>

<body>
<div class="container">
  <%= yield %>
  <div class="signature centered">
    <%= render 'layouts/signature' %>
  </div>
</div>
</body>
</html>
