<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <style>
    .signature {
      margin-top: 30px;
    }
  </style>
</head>

<body>
<div style="text-align: center;">
  <%= yield %>
  <%= render 'layouts/signature' %>
</div>
</body>
</html>
